/* .header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 */
.header-name {
    width: 100vw;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 1em;
    line-height: 1em;
    font-size: 3em;
    font-family: 'Bacasime Antique', serif;
    margin-top: 0.5em;
}

.p {
    font-family: 'Bacasime Antique', serif;
    text-align: center;
    letter-spacing: 8px;
    display: block;
}

.anchor {
    text-decoration: none;
    color: black;
    display: inline;
}

@media (max-width: 420px) {
    .header {
        height: auto;
        font-size: 2em;
    }

    .p {
        font-size: 0.7em;
    }
}
