.footer {
    width: 100vw;
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
}