.details {
    font-family: 'Montserrat', sans-serif;
}

.tracks {
    margin-top: 1.5em;
}

.show-tracks:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .cover-image {
        width: 25em !important;
        height: 25em !important;
    }
}

@media (max-width: 715px) {
    .cover-image {
        width: 20em !important;
        height: 20em !important;
    }
}

@media (max-width: 650px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .infos {
        margin-top: 2em;
        padding: 0px !important;
    }

    .cover-image {
        margin-right: 0px !important;
    }
}

@media (max-width: 345px) {
    .cover-image {
        width: 15em !important;
        height: 15em !important;
    }
}